$color_1: black;
$font-family_1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$background-color_1: #FAD961;
$background-color_2: white; 
$background-color_3: black;
$rellenoParrafo: "no";
$mapaColoresParrafo: (1:orange, 2:red, 3:black);