@import "variables";

* {
	margin: 2px;
	padding: 2px;
	box-sizing: border-box;
	font-family: $font-family_1;
}
a {
	&:visited {
		color: $color_1;
	}
	text-decoration: none;
	text-decoration: solid;
}
.fondo {
	background-color: $background-color_1;
	background-image: linear-gradient(180deg, #FAD961 27%, #F76B1C 100%);
}
img {
	display: block;
	margin: 0px auto;
}
h1 {
	display: inline;
	align-items: center;
}
h2 {
	display: flex;
	justify-content: center;
	text-align: center;
}
article {
	text-align: center;
}
button {
	justify-content: center;
	align-items: center;
}
.logo {
	display: inline;
}
#menuLa {
	display: flex;
	flex-direction: column;
}
header {
	grid-area: header;
}
nav {
	grid-area: nav;
}
.card {
	background-color: $background-color_1;
	background-image: linear-gradient(180deg, #FAD961 27%, #F76B1C 100%);
}
section {
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
	justify-content: center;
}
aside {
	grid-area: aside;
}
footer {
	grid-area: footer;
}
@media screen and (min-width:960px) {
	h1 {
		font-size: 80px;
	}
	h2 {
		font-size: 50px;
	}
	#instagram {
		height: 50px;
		width: 50px;
	}
	.cervezasVinos {
		height: 250px;
		width: 250px;
		object-fit: contain;
	}
	.logo {
		width: 250px;
		height: 250px;
	}
	.portada {
		width: 50%;
		height: 50%;
		padding: 1px;
	}
	#main {
		display: grid;
		grid-template-columns: 20% auto;
		grid-template-rows: repeat(3,auto);
		column-gap: 10px;
		row-gap: 10px;
		grid-template-areas: "nav nav" "aside section" "footer footer";
	}
	.section {
		display: grid;
		grid-template-columns: repeat(3,auto);
		grid-template-rows: repeat(3,auto);
		column-gap: 5px;
		row-gap: 5px;
	}
	ul {
		display: flex;
		flex-direction: row;
		font-size: 50px;
		justify-content: center;
	}
	li {
		display: flex;
		flex-direction: row;
		font-size: 50px;
		justify-content: center;
	}
	header {
		display: inline;
		justify-content: space-between;
		align-items: center;
	}
	label {
		font-size: 30px;
	}
	p {
		font-size: 20px;
		text-align: center;
	}
}
@media screen and (min-width:320px) and (max-width:959px) {
	h1 {
		font-size: 40px;
	}
	#instagram {
		height: 40px;
		width: 40px;
	}
	.cervezasVinos {
		height: 150px;
		width: 150px;
		object-fit: contain;
	}
	.portada {
		width: 80%;
		height: 80%;
		padding: 1px;
	}
	p {
		font-size: 20px;
	}
	#main {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(4,auto);
		column-gap: 10px;
		row-gap: 10px;
		grid-template-areas: "header" "nav" "section" "footer";
	}
	.section {
		display: grid;
		grid-template-columns: repeat(2,auto);
		grid-template-rows: repeat(3,auto);
		column-gap: 5px;
		row-gap: 5px;
	}
	ul {
		display: grid;
		grid-template-columns: auto auto auto;
		font-size: 20px;
		justify-content: start;
		padding: 0%;
	}
	li {
		display: grid;
		grid-template-columns: auto auto auto;
		font-size: 20px;
		justify-content: start;
		padding: 0%;
	}
	header {
		display: flex;
		margin-right: 50%;
		justify-content: space-between;
		align-items: center;
		>img {
			width: 80px;
			height: 80px;
			justify-content: start;
			margin-left: 0%;
		}
	}
	textarea {
		opacity: 0,6;
		border: 2px 2px 2px, solid, $background-color_3;
		box-sizing: border-box;
		box-shadow: 2px 2px 2px $background-color_2;
		box-sizing: initial;
		font-size: large;
		align-items: center;
		width: 100px;
		height: 50px;
	}
	input {
		width: 100px;
		height: 20px;
	}
	#map {
		width: 200px;
		height: 200px;
	}
	label {
		font-size: 15px;
		text-shadow: 2px 2px 2px$background-color_2;
	}
	.search {
		display: none;
	}
	footer {
		display: inline-block;
		justify-content: center;
		align-items: center;
	}
}
