@import "variables";

* {
	margin: 2px;
	padding: 2px;
	box-sizing: border-box;
	font-family: $font-family_1;
}
a {
	&:visited {
		color: $color_1;
	}
	text-decoration: none;
	text-decoration: solid;
}
.fondo {
	background-color: $background-color_1;
	background-image: linear-gradient(180deg, #FAD961 27%, #F76B1C 100%);
}
img {
	display: inline-block;
	justify-content: center;
	object-fit: contain;
}
.fotos{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	display: inline;
	align-items: center;
}
h2 {
	display: flex;
	justify-content: center;
	text-align: center;
}
p{
	text-align: center;
}
label,
input{
	justify-content: center;
	align-items: center;

}

article {
	text-align: center;
}
button {
	justify-content: center;
	align-items: center;
}
.logo {
	display: inline;
}
#menuLa {
	display: flex;
	flex-direction: column;
}

nav {
	grid-area: nav;
}
.card {
	background-color: $background-color_1;
	background-image: linear-gradient(180deg, #FAD961 27%, #F76B1C 100%);
}
section {
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
	justify-content: center;
}
input{
	text-decoration: solid;
	text-align: center;
	&:hover{
		box-shadow: 2px 2px 2px ;
	}
}
aside {
	grid-area: aside;
}
footer {
	display: flex;
	align-items: center;
	grid-area: footer;
	justify-content: center;
	margin: 5px;
}

.whatsapp {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	z-index: 100;
}

.whatsapp-icon {
	margin-top: 13px;
}

@mixin bordeColor ($tipo, $ancho, $color){
	border-width: $ancho;
	border-style: $tipo;
	border-color: $color;
}

@if $rellenoParrafo == "si"{
	@for $i from 1 through 3 {
		.colorParrafo#{$i}{
			background-color: map-get($mapaColoresParrafo, $i);
		}
	}
}  

@else if $rellenoParrafo == "no"{
	@each $numero, $color in $mapaColoresParrafo{
	.colorParrafo#{$numero}{
		@include bordeColor(double, 10px, $color);
	}
	}
}

@media screen and (min-width:960px) {
	h1 {
		font-size: 80px;
	}
	h2 {
		font-size: 50px;
	}
	.instagram {
		height: 100px;
		width: 100px;
	}
	.cervezasVinos {
		height: 250px;
		width: 250px;
		object-fit: contain;
	}
	.logo {
		width: 250px;
		height: 250px;
	}

	.portada {
		width: 50%;
		height: 50%;
		padding: 1px;
	}
	#main {
		display: grid;
		grid-template-columns: 20% auto;
		grid-template-rows: repeat(3,auto);
		column-gap: 10px;
		row-gap: 10px;
		grid-template-areas: "nav nav" "aside section" "footer footer";
	}
	.section {
		display: grid;
		grid-template-columns: repeat(3,auto);
		grid-template-rows: repeat(3,auto);
		column-gap: 5px;
		row-gap: 5px;
	}
	ul {
		display: flex;
		flex-direction: row;
		font-size: 50px;
		justify-content: center;
	}
	li {
		display: flex;
		flex-direction: row;
		font-size: 50px;
		justify-content: center;
	}
	header {
		display: inline;
		justify-content: space-between;
		align-items: center;
	}
	label {
		font-size: 30px;
		text-align: center;
	}
	p {
		font-size: 20px;
		text-align: center;
	}
	.form-control{
		width:50%;
		margin-left:25%;
	}
}
@media screen and (min-width:320px) and (max-width:959px) {
	.header{
		>img{
			width: 90px;
			height: 90px;
			justify-content: start;
			margin-left: 0%;
		}
	}
	.container-fluid{
		padding: 5px 12px;
		margin: 5px 0px;
		display:flex;
		flex-direction: column;
	}
	a{
		font-size: 40px;
		text-align:center;
	}
	h1 {
		font-size: 30px;
		text-align:center;
		justify-content: center;
	}
	.instagram {
		height: 40px;
		width: 40px;
		justify-content: center;
		align-items: center;
	}
	.img-fluid {
		height: 60%;
		width: 50%;
		object-fit: cover;
		align-items: center;
		justify-content: center;
	}
	.portada {
		width: 80%;
		height: 80%;
		padding: 1px;
	}
	p {
		font-size: 20px;
	
	}
	#main {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(4,auto);
		column-gap: 10px;
		row-gap: 10px;
		grid-template-areas: "header" "nav" "section" "footer";
	}
	.section {
		display: grid;
		grid-template-columns: repeat(2,auto);
		grid-template-rows: repeat(3,auto);
		column-gap: 5px;
		row-gap: 5px;
	}
	ul {
		display: grid;
		grid-template-columns: auto auto auto;
		font-size: 20px;
		justify-content: start;
		padding: 0%;
	}
	li {
		display: grid;
		grid-template-columns: auto auto auto;
		font-size: 20px;
		justify-content: start;
		padding: 0%;
	}
	header {
		display: flex;
		margin-right: 50%;
		justify-content: space-between;
		align-items: center;
		>img {
			width: 80px;
			height: 80px;
			justify-content: start;
			margin-left: 0%;
		}
	}
	textarea {
		opacity: 0,6;
		border: 2px 2px 2px, solid, $background-color_3;
		box-sizing: border-box;
		box-shadow: 2px 2px 2px $background-color_2;
		box-sizing: initial;
		font-size: large;
		align-items: center;
		
	}
	.form-control{
		width:90%;
		
	}
	#map {
		width: 200px;
		height: 200px;
	}
	label {
		font-size: 15px;
		text-align:center;
		text-shadow: 2px 2px 2px$background-color_2;
	}
	.search {
		display: none;
	}
	footer {
		display: inline-block;
		justify-content: center;
		align-items: center;
	}
	.container-fluid{
		display: flex;
		flex-direction: column;
		justify-content:center;
		align-items:center;
	}
	.datos{
		padding: 2px;
		>input{
			display:flex;
			flex-direction:column;
			flex-wrap: nowrap;
			margin-left: 20%;
		}
	}
	.whatsapp {
		position: fixed;
		width: 40px;
		height: 40px;
		bottom: 30px;
		right: 30px;
		background-color: #25d366;
		color: #FFF;
		border-radius: 30px;
		text-align: center;
		font-size: 15px;
		z-index: 50;
	}
	
	.whatsapp-icon {
		margin-top: 10px;
	}
	a{
		font-size: 20px;
	}
}
